
<div class="edit-wrap panel-right">
  <form #userForm="ngForm" id="editForm" (ngSubmit)="onSubmit(userForm)">
    <div class="group">
      <label for="name">Name</label>
      <input [(ngModel)]="product.name" id="name" name="name"  >
    </div>  

    <div class="group">
      <label for="desc">Description</label>
      <textarea [(ngModel)]="product.desc" name="" id="desc" name="desc"  ></textarea>
    </div>

    <div class="group center">
        <label for="done">Done</label>
        <input [(ngModel)]="product.done" type="checkbox" name="done"  >
    </div>

    <button class="black-btn"><span>Save</span></button>

    <div class="nav-buttons">
      <button [disabled]="prevDisabled" #prevBtn (click)="prev(prevBtn)">prev</button> 
      <button [disabled]="nextDisabled" (click)="next()">next</button>
    </div>
  </form>
</div>

