
<div class="login-wrap" *ngIf="!message && !authService.isLoggedIn">
  <div class=login-section>
    
    <form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)">
        <h1>Login Form</h1>

        <div>
            <input formControlName="login"  type="text" id="login" placeholder="Username">
            <div *ngIf="formErrors.login" class="alert">
              {{formErrors.login}}
            </div>
        </div>

        <div>
            <input formControlName="password"  type="password" id="password" placeholder="Password"> 
            <div *ngIf="formErrors.password" class="alert">
              {{formErrors.password}}
            </div>
        </div>
      
        <button >Login</button>
        <!-- <button (click)="logIn(login.value, password.value)">Login</button> -->
    </form>
  </div>
</div>



  <div *ngIf="message" class="message">
    {{message}}
  </div>
  <button *ngIf="authService.isLoggedIn"
          (click)="logOut()">Log out</button>
  
  